nav{
	width:380px;

	ul li{
		display:inline-block;
		margin-right:30px;

		&:last-child{
			margin-right: 0;
		}

		a{
			display:block;
			font-size:30px;
			padding:20px;
			border-radius:4px;

			&:hover{
				cursor:pointer;
			}
		}
	}
}

.primary-nav ul li a{
	color:#FFF;

	&:hover{
		color:#2C79B3;
		background:#FFF;
	}
}

.social-nav ul li a{
	color:#8BB93F;

	&:hover{
		color:#FFF;
		background:#8BB93F;
	}
}
