/* Third-party */
@import '../vendor/bourbon/app/assets/stylesheets/_bourbon.scss';
@import '../vendor/neat/app/assets/stylesheets/_neat.scss';

/* Modules and Variables */
@import 'partials/base';

/* Partials */
@import "partials/reset";

@import 'partials/typography';
@import 'partials/buttons';
@import 'partials/forms';

/* Layout */
@import 'partials/header';
@import 'partials/navigation';
@import 'partials/footer';

@import 'partials/projects';
@import 'partials/skills';

/* Page components */

html, body{
	line-height:2em;
	font-family: $body-font;
	font-size:12px;
	background:$footer-bg;
}

.me, nav, .title, .description{
	margin-bottom:30px;
}

.main-container{
	padding:100px;
	background:$content-white;
}

.me, h1, .description, .primary-nav, .social-nav, main, .status, .admin-gateway{
	@include outer-container;
}

article{
	@include span-columns(4);
}