form{
	input, textarea{
		padding:10px;
		margin-bottom:10px;
		border:1px solid #ddd;
		box-shadow: 0 1px 3px 0 rgba(0, 0, 0, 0.12);

		:focus:invalid{
    		border-color: #d45252;
		}

		:valid{
			border-color:#68b12f;
		}
	}

	textarea{
		height:150px;
	}

	.form-left{
		@include span-columns(6);
		@include media($mobile) {
	      @include span-columns(4);
	    }
	}

	.form-right{
		@include span-columns(6);
		@include omega();
		@include media($mobile) {
	      @include span-columns(4);
	    }
	}

	.form-full{
		@include span-columns(12);
		@include omega();
		@include media($mobile) {
	      @include span-columns(4);
	    }
	}
}

.login-form{
	@include span-columns(6);
	@include shift(3);

	div{
		@include span-columns(12);
	}

	input {
		width:100%;
	}

	.username, .password{
		position: relative;
	}

	.username:before{
		content: "\f007";
	    font-family: FontAwesome;
	    font-style: normal;
	    font-weight: normal;
	    text-decoration: inherit;
        color: #DDD;
    	font-size: 16px;
		position: absolute;
		top:-2px;
		right:20px;
		z-index:5;
	}

    .password:before{
		content: "\f023";
		font-family: FontAwesome;
	    font-style: normal;
	    font-weight: normal;
	    text-decoration: inherit;
        color: #DDD;
    	font-size: 16px;
		position: absolute;
		top:-2px;
		right:20px;
		z-index:5;
	}
}