.skill{
	@include span-columns(3);
  	@include omega(4n);

  	@include media($mobile) {
      @include span-columns(1);
      @include omega();
    }
	
	border-radius:4px;
  	margin-bottom:30px;
	box-shadow: 0 1px 3px 0 rgba(0, 0, 0, 0.12);
	background: #FFFFFF;

	h2{
		text-align:center;
		padding:10px;
		background-color: #E4E4E4;
	}

	.skill-container{
		@include span-columns(10);
		@include shift(1);

		height:150px;
		position:relative;

		.ratings{
			position:absolute;
			bottom:10px;
			left:35px;
			li{
				display: inline-block;

				i{
					color:#f1c40f;
					font-size:18px;
				}
			}
		}

		.knowledge{
			text-align:center;
			font-style:italic;
			color:#AAA;
		}
	}
}

.skill:hover{
	opacity: 0.7;
	cursor:pointer;
}