<section>
	<article>
		<h2>Who?</h2>
		<p>I should really write sometihng here... Why is it so difficult to talk about yourself!</p>
		<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, 
			sed do eiusmod tempor incididunt ut labore et dolore magna 
			aliqua. Ut enim ad minim veniam, quis nostrud exercitation 
			ullamco laboris nisi ut aliquip ex ea commodo consequat.
		</p>
	</article>

	<article>
		<h2>What can I do?</h2>
		<p>If anyone is reading this, please note this site is under construction!</p>
		<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, 
			sed do eiusmod tempor incididunt ut labore et dolore magna 
			aliqua. Ut enim ad minim veniam, quis nostrud exercitation 
			ullamco laboris nisi ut aliquip ex ea commodo consequat.
		</p>
	</article>

	<article>
		<h2>Where am I based?</h2>
		<p>
			Born in Middlesbrough, raised in Milton Keynes, studied 
			in Huddersfield and now living/working in Leeds!
		</p>
	</article>
</section>