<h2>Portfolio</h2>
<p>
	See below, a portfolio of all the projects I have worked on, alongside descriptions of technologies used in the process.
</p>
<ul>
	
	<li class="project card" ng-repeat="(slug, project) in projects">
		
		<div class="tile">

			<div class="tile-front">
				<img src="{{ project.src }}" alt="{{ project.title }}" />
			</div>

			<div class="tile-back">
				<h2>{{ project.title }}</h2>
				<p>{{ project.description }}</p>
				<a ui-sref="view({ slug: slug })" class=""><i class="fa fa-info-circle"></i> More Details</a>
			</div>

		</div>

	</li>
	
</ul>