<h2>Client-Side Technologies</h2>

<ul>
	<li class="skill">
		<h2>HTML 5</h2>
		<div class="skill-container">

			<ul class="knowledge">
				<li>3 Years of experience</li>
				<li>Good semantics</li>
			</ul>

			<ul class="ratings">
				<li><i class="fa fa-star"></i></li>
				<li><i class="fa fa-star"></i></li>
				<li><i class="fa fa-star"></i></li>
				<li><i class="fa fa-star"></i></li>
				<li><i class="fa fa-star-half-o"></i></li>
			</ul>

		</div>
	</li>

	<li class="skill">
		<h2>CSS</h2>
		<div class="skill-container">

			<ul class="knowledge">
				<li>3 Years of experience</li>
				<li>LESS</li>
				<li>SASS</li>
				<li>Bourbon</li>
				<li>Neat</li>
			</ul>

			<ul class="ratings">
				<li><i class="fa fa-star"></i></li>
				<li><i class="fa fa-star"></i></li>
				<li><i class="fa fa-star"></i></li>
				<li><i class="fa fa-star"></i></li>
				<li><i class="fa fa-star-half-o"></i></li>
			</ul>
			
		</div>
	</li>

	<li class="skill">
		<h2>Vanilla JavaScript</h2>
		<div class="skill-container">

			<ul class="knowledge">
				<li>Closures</li>
				<li>Prototype Inheritance</li>
				<li>Asynchronous functions</li>
				<li>Revealling Module Pattern</li>
			</ul>

			<ul class="ratings">
				<li><i class="fa fa-star"></i></li>
				<li><i class="fa fa-star"></i></li>
				<li><i class="fa fa-star"></i></li>
				<li><i class="fa fa-star-o"></i></li>
				<li><i class="fa fa-star-o"></i></li>
			</ul>
			
		</div>
	</li>

	<li class="skill">
		<h2>jQuery</h2>
		<div class="skill-container">

			<ul class="knowledge">
				<li>2 Years of experience</li>
				<li>Angular</li>
				<li>Revealling Module Pattern</li>
			</ul>

			<ul class="ratings">
				<li><i class="fa fa-star"></i></li>
				<li><i class="fa fa-star"></i></li>
				<li><i class="fa fa-star"></i></li>
				<li><i class="fa fa-star-half-o"></i></li>
				<li><i class="fa fa-star-o"></i></li>
			</ul>
			
		</div>
	</li>

	<li class="skill">
		<h2>Angular JS</h2>
		<div class="skill-container">

			<ul class="knowledge">
				<li>jQuery</li>
				<li>Angular</li>
				<li>Revealling Module Pattern</li>
			</ul>
			
			<ul class="ratings">
				<li><i class="fa fa-star"></i></li>
				<li><i class="fa fa-star"></i></li>
				<li><i class="fa fa-star-o"></i></li>
				<li><i class="fa fa-star-o"></i></li>
				<li><i class="fa fa-star-o"></i></li>
			</ul>

		</div>
	</li>
</ul>

<h2>Server-Side Technologies</h2>

<ul>
	<li class="skill">
		<h2>C#</h2>
		<div class="skill-container">

			<ul class="knowledge">
				<li>1 Year of expereience</li>
				<li>Repository pattern</li>
			</ul>

			<ul class="ratings">
				<li><i class="fa fa-star"></i></li>
				<li><i class="fa fa-star"></i></li>
				<li><i class="fa fa-star"></i></li>
				<li><i class="fa fa-star-o"></i></li>
				<li><i class="fa fa-star-o"></i></li>
			</ul>
			
		</div>
	</li>

	<li class="skill">
		<h2>ASP.NET MVC</h2>
		<div class="skill-container">

			<ul class="knowledge">
				<li>1 Year of expereience</li>
				<li>Repository pattern</li>
			</ul>

			<ul class="ratings">
				<li><i class="fa fa-star"></i></li>
				<li><i class="fa fa-star"></i></li>
				<li><i class="fa fa-star"></i></li>
				<li><i class="fa fa-star-o"></i></li>
				<li><i class="fa fa-star-o"></i></li>
			</ul>
			
		</div>
	</li>

	<li class="skill">
		<h2>ASP.NET Web API 2</h2>
		<div class="skill-container">

			<ul class="knowledge">
				<li>REST Services</li>
				<li>Cross origin requests</li>
			</ul>

			<ul class="ratings">
				<li><i class="fa fa-star"></i></li>
				<li><i class="fa fa-star"></i></li>
				<li><i class="fa fa-star"></i></li>
				<li><i class="fa fa-star-o"></i></li>
				<li><i class="fa fa-star-o"></i></li>
			</ul>
			
		</div>
	</li>

	<li class="skill">
		<h2>Entity Framework</h2>
		<div class="skill-container">
			
			<ul class="knowledge">
				<li>1 Year of expereience</li>
			</ul>

			<ul class="ratings">
				<li><i class="fa fa-star"></i></li>
				<li><i class="fa fa-star"></i></li>
				<li><i class="fa fa-star"></i></li>
				<li><i class="fa fa-star-o"></i></li>
				<li><i class="fa fa-star-o"></i></li>
			</ul>
			
		</div>
	</li>
</ul>

<h2>Development Dependancy Technologies</h2>

<ul>
	<li class="skill">
		<h2>Task Managers</h2>
		<div class="skill-container">

			<ul class="knowledge">
				<li>Gulp</li>
			</ul>

			<ul class="ratings">
				<li><i class="fa fa-star"></i></li>
				<li><i class="fa fa-star-half-o"></i></li>
				<li><i class="fa fa-star-o"></i></li>
				<li><i class="fa fa-star-o"></i></li>
				<li><i class="fa fa-star-o"></i></li>
			</ul>
			
		</div>
	</li>

</ul>