<ul>
	<li class="skill">
		<h2>HTML 5</h2>
		<div class="skill-container">

			<ul class="ratings">
				<li><i class="fa fa-star"></i></li>
				<li><i class="fa fa-star"></i></li>
				<li><i class="fa fa-star"></i></li>
				<li><i class="fa fa-star"></i></li>
				<li><i class="fa fa-star-half-o"></i></li>
			</ul>

			<ul class="technologies">
				<li>Good semantics</li>
			</ul>

		</div>
	</li>

	<li class="skill">
		<h2>CSS</h2>
		<div class="skill-container">

			<ul class="ratings">
				<li><i class="fa fa-star"></i></li>
				<li><i class="fa fa-star"></i></li>
				<li><i class="fa fa-star"></i></li>
				<li><i class="fa fa-star"></i></li>
				<li><i class="fa fa-star-half-o"></i></li>
			</ul>

			<ul class="technologies">
				<li>SASS</li>
				<li>Bourbon + Neat</li>
			</ul>
			
		</div>
	</li>

	<li class="skill">
		<h2>JavaScript</h2>
		<div class="skill-container">

			<ul class="ratings">
				<li><i class="fa fa-star"></i></li>
				<li><i class="fa fa-star"></i></li>
				<li><i class="fa fa-star"></i></li>
				<li><i class="fa fa-star-half-o"></i></li>
				<li><i class="fa fa-star-o"></i></li>
			</ul>

			<ul class="technologies">
				<li>jQuery</li>
				<li>Angular</li>
				<li>Revealling Module Pattern</li>
			</ul>
			
		</div>
	</li>

	<li class="skill">
		<h2>jQuery</h2>
		<div class="skill-container">

			<ul class="ratings">
				<li><i class="fa fa-star"></i></li>
				<li><i class="fa fa-star"></i></li>
				<li><i class="fa fa-star"></i></li>
				<li><i class="fa fa-star-half-o"></i></li>
				<li><i class="fa fa-star-o"></i></li>
			</ul>

			<ul class="technologies">
				<li>jQuery</li>
				<li>Angular</li>
				<li>Revealling Module Pattern</li>
			</ul>
			
		</div>
	</li>

	<li class="skill">
		<h2>Angular JS</h2>
		<div class="skill-container">

			<ul class="ratings">
				<li><i class="fa fa-star"></i></li>
				<li><i class="fa fa-star"></i></li>
				<li><i class="fa fa-star-half-o"></i></li>
				<li><i class="fa fa-star-o"></i></li>
				<li><i class="fa fa-star-o"></i></li>
			</ul>

			<ul class="technologies">
				<li>jQuery</li>
				<li>Angular</li>
				<li>Revealling Module Pattern</li>
			</ul>
			
		</div>
	</li>

	<li class="skill">
		<h2>C#</h2>
		<div class="skill-container">

			<ul class="ratings">
				<li><i class="fa fa-star"></i></li>
				<li><i class="fa fa-star"></i></li>
				<li><i class="fa fa-star"></i></li>
				<li><i class="fa fa-star-o"></i></li>
				<li><i class="fa fa-star-o"></i></li>
			</ul>
			
		</div>
	</li>

	<li class="skill">
		<h2>Task Managers</h2>
		<div class="skill-container">

			<ul class="ratings">
				<li><i class="fa fa-star"></i></li>
				<li><i class="fa fa-star-half-o"></i></li>
				<li><i class="fa fa-star-o"></i></li>
				<li><i class="fa fa-star-o"></i></li>
				<li><i class="fa fa-star-o"></i></li>
			</ul>
			
		</div>
	</li>
</ul>