@import url(http://fonts.googleapis.com/css?family=Sintony);

/*======================================================
	CSS RESET
======================================================*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

/*======================================================
	BEGIN
======================================================*/

html, body{
	line-height:2em;
	font-family: 'Sintony', Arial, sans-serif;
	font-size:12px;
	color:#A4ACB7;
	background:#EEE;
}

.me, nav, .title, .description, .status, .main-container, .admin-gateway, main{
	margin: 0 auto;
}

.me, nav, .title, .description{
	margin-bottom:30px;
}


header{
	background:#2E8ECE;
	padding:60px 60px 30px 60px;
}

.me{
	width:90px;
	background:#4AA3DF;
	padding:8px;
	padding-bottom:0;
	border-radius:50px;
}

.me img{
	width:100%;
	height:auto;
	border-radius:45px;
}

/*======================================================
	Navigation
======================================================*/

nav ul li{
	display:inline-block;
	margin-right:30px;
}

nav ul li:last-child{
	margin-right: 0;
}

nav ul li a{
	display:block;
	font-size:30px;
	padding:20px;
	border-radius:4px;
}

nav ul li a:hover{
	cursor:pointer;
}

.primary-nav{
	width:380px;
}

.primary-nav ul li a{
	color:#FFF;
}

.primary-nav ul li a:hover{
	color:#2E8ECE;
	background:#FFF;
}

.social-nav{
	width:375px;
}

.social-nav ul li a{
	color:#D14233;
}

.social-nav ul li a:hover{
	color:#FFF;
	background:#D14233;
}

h1{
	font-size:20px;
}

.title{
	font-size:30px; 
	color:#FFF;
	width:327px;
	text-shadow:0 2px 2px rgba(0, 0, 0, 0.15);
}

.description{
	color:#FFF;
	font-size:14px;
	width:530px;
	text-shadow:0 2px 2px rgba(0, 0, 0, 0.15);
}

/*======================================================
	Project Summary
======================================================*/

.project{
	display:inline-block;
	width:260px;
	margin-right:20px;
}

.project:last-child{
	margin-right:0;
}

.project-summary{
	width:250px;
	padding:5px;
}

/* .project-image{
	width:250px;
	height:150px;
	overflow:hidden;
	padding:5px;
	background:#EEE;
	border-radius:4px;
} */

.project-image{
	display:block;
	width:250px;
	height:150px;
	overflow:hidden;
	padding:5px;
	background:#EEE;
	border-radius:4px;
}

.project-image img{
	width:100%;
	height:100%;
}

.project-title{
	font-size:16px;
	font-weight:bold;
}

.project-subtitle{
	font-style:italic;
	font-weight:normal;
}

.read-more{
	display:block;
	padding:10px;
	background:#2CC36B;
	color:#FFF;
	text-decoration:none;
	border-radius:4px;
	box-shadow: 0 4px 0 #2eAA71;
}

.read-more i{
	padding-right:10px;
	padding:0 10px 0 10px;
}

.read-more:hover{
	background:#2eAA71;
}



.project-image-large{
	font-size:300px;
	color:#A4ACB7;
}



main{
	min-width:275px;
	max-width:1105px;
}

.main-container{
	padding:100px;
		background:#FBFCFC;
}

footer{
	padding:30px 30px 0 30px;
}

.status{
	width:250px;
}

.admin-gateway{
	display:block;
	color:#A4ACB7;
	font-size:30px;
	padding:20px;
	width:20px;
	border-radius:4px;
}

.admin-gateway:hover{
	color:#D14233;
	cursor:pointer;
}

input[type="text"], input[type="password"], textarea{
	border:1px solid #DDD;
	padding:10px;
	border-radius:4px;
	width:250px;
	font-family: 'Sintony', Arial, sans-serif;
	font-size:12px;
}

input[type="submit"]{
	padding:10px;
	background:#2CC36B;
	color:#FFF;
	border-radius:4px;
	box-shadow: 0 4px 0 #2eAA71;
	border: 1px solid #2CC36B;
}

input[type="submit"]:hover{
	cursor:pointer;
}

.pull-left{
	float:left;
}

.clear{
	clear:both;
}