<h2>Get in touch!</h2>
<p>
	Feel free to get in touch if you have any potential projects you would like to get me on board with, alternatievely just say hello! 
</p>

<form>
	
	<input type="text" name="" placeholder="Firstname" class="form-left"/>

	<input type="text" name="" placeholder="Surname"  class="form-right"/>

	<input type="text" name="" placeholder="Company (optional)" class="form-left" />

	<input type="text" name="" placeholder="Enquiry Type" class="form-right" />

	<input type="text" name="" placeholder="Subject" class="form-full" />

	<textarea placeholder="Enter your message here..." class="form-full"></textarea>

 	<button type="submit" class="button send read-more">
 		<i class="fa fa-paper-plane-o"></i> Send
 	</button>

</form>