<h1>Contact</h1>

<form>
	
	<input type="text" name="" placeholder="Firstname" class="form-left"/>

	<input type="text" name="" placeholder="Surname"  class="form-right"/>

	<input type="text" name="" placeholder="Company (optional)" class="form-left" />

	<input type="text" name="" placeholder="Enquiry Type" class="form-right" />

	<input type="text" name="" placeholder="Subject" class="form-full" />

	<textarea placeholder="Enter your message here..." class="form-full"></textarea>

 	<input type="submit" name="" value="Send" class="button" />

</form>